*{
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}
[lang=fa-IR] {
    direction: rtl !important;
}

[lang=en] {
    direction: ltr !important;
}